bcrypt==3.1.7
blinker==1.4
certifi==2020.6.20

django-elasticsearch-dsl==0.5.0
django-elasticsearch-dsl-drf==0.11
django-nine==0.2.3
djangorestframework==3.8.2
elasticsearch==6.8.1
elasticsearch-dsl==6.0.0
oauth==1.0.1

pycparser==2.20
pycrypto==2.6.1

pyxdg==0.26
PyYAML==3.12
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
